$white           : #FFFFFF;
$black           : #000000;
$grey            : rgba(0, 0, 0, 0.6);
$grey-lighten    : #E5E5E5;
$red             : #F58989;
$green           : #C7F3BC;

$primary         : #007BFF;
$primary-darken  : #0E317E;
$primary-lighten : #E5ECF8;
