$white           : #FFFFFF;
$black           : #000000;
$red             : #dc2f02;
$grey            : rgba(0, 0, 0, 0.6);

$primary         : #007BFF;
$primary-darken  : #0E317E;
$primary-lighten : #E5ECF8;
